@font-face {
  font-family: 'GT Walsheim';
  font-style: normal;
  font-weight: 400;
  src: local('GT Walsheim'), url(./fonts/gt-walsheim.woff) format('woff');
}

@font-face {
  font-family: 'GT Walsheim';
  font-style: normal;
  font-weight: 500;
  src: local('GT Walsheim Medium'), url(./fonts/gt-walsheim-medium.woff) format('woff');
}

@font-face {
  font-family: 'GT Walsheim';
  font-style: normal;
  font-weight: 700;
  src: local('GT Walsheim Bold'), url(./fonts/gt-walsheim-bold.woff) format('woff');
}

:root {
  --purple: #4361f3;
  --deep-purple: #2c45cf;
  --pink: #e7649e;
}

html, body, iframe, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'GT Walsheim', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.4;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

button {
  appearance: none;
  border: 0;
  background: none;
}


